################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/elements-counting/v15/Browse.VC.opendb
/.vs/elements-counting2/v15/ipch/AutoPCH/f6a3b6b02484e904
